@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/timeline.scss";
.body {
  padding-top: 40px
}
.title {
  padding-top: 8%
}
.tableTile{
  font-size: 24px
}